@model UniversityProject.Models.ViewModels.TeacherCreateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Teacher</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.DisplayNameFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class="form-control" })
    </div>

    <div>
        @Html.DisplayNameFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
    </div>

    <div>
        @Html.DisplayNameFor(model => model.FieldIdList)
        @Html.DropDownListFor(model => model.FieldIdList, (List<SelectListItem>)ViewBag.FieldSelectList, "Select one ...", new { multiple="multipe", @class="form-control" })
    </div>

    <div>
        <input type="submit" value="Submit" class="btn btn-success" />
    </div>
}